@font-face {
  font-family: 'Prosto One';
  src: url(./assets/fonts/Prosto_One/ProstoOne-Regular.ttf);
}

@font-face {
  font-family: 'Zalando Sans';
  src: url(./assets/fonts/Zalando_Sans/ZalandoSans-VariableFont_wdth\,wght.ttf);
}

:root {
  /* Cores: */
  --white: #ffffff;
  --black: #000000;
  --grey: #8f8f80;
  --red: #c42121;
  --green: #1a991a;
  --navy-blue: #30306e;
  --dark-navy-blue: #161620;

  /* Famílias de fonte: */
  --def-font-family: "Zalando Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --hx-font-family: "Prosto One", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--def-font-family);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-navy-blue);
  color: var(--white);
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background-image: linear-gradient(180deg, var(--navy-blue), #ffffff00);
  /* background-image: linear-gradient(180deg, blue, green 40%, red); */
  /* box-shadow: 0 .25rem 1rem var(--navy-blue); */
}

main {
  display: flex;
  flex-direction: column;
  padding: 8rem 20vw;

  section:not(:last-of-type) {
    margin-bottom: 8rem;
  }
  section:not(.bento-grid) {
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-family: var(--hx-font-family);
      font-size: 1.75rem;
    }
  }
}

footer {
  display: flex;
  padding: 2rem;
  background-color: var(--black);
  align-items: top;
  justify-content: space-between;

  .left-segment {
    display: inherit;
    flex-direction: column;
    gap: .5rem;
  }
  .right-segment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;

    .social-media {
      display: flex;
      justify-content: space-between;

      a {
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--white);
      }
    }
  }
}

h1 {
  font-size: 3rem;
}

.page-title {
  font-family: var(--hx-font-family);
}
.characteristics {
  list-style-type: none;

  small {
    color: var(--grey);
  }
}
.question-mark {
  color: var(--grey);
}
.check {
  color: var(--green);
}
.cross {
  color: var(--red);
}

.navbar {
  display: inherit;
  width: 30%;
  justify-content: space-between;

  a {
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.bento-grid {
  display: grid;
  grid-template-rows: repeat(2, 250px);
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  grid-template-areas:
    "photo-sm card-lg-1 card-lg-1 photo-lg"
    "card-lg-2 card-lg-2 card-sm photo-lg";

  > .item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid var(--white);
    border-radius: 1rem;

    img {
      object-fit: cover;
      object-position: 42% 50%;
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  }
  > .item:nth-child(1) {
    padding: 0;
    grid-area: photo-sm;
  }
  > .item:nth-child(2) {
    grid-area: card-lg-1;
  }
  > .item:nth-child(3) {
    padding: 0;
    grid-area: photo-lg;
  }
  > .item:nth-child(4) {
    align-items: center;
    gap: 1rem;
    grid-area: card-lg-2;
  }
  > .item:nth-child(5) {
    padding: 0;
    grid-area: card-sm;
  }
}

.skillset-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(1fr, 275px));
  gap: 1.5rem;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;

    img {
      width: 2.5rem;
      height: 2.5rem;
    }
    span {
      text-align: center;
    }
    small {
      font-size: .75rem;
    }
  }
}

.social-media-grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: .5rem;
    
    img {
      width: 3rem;
      height: 3rem;
      filter: brightness(100);
    }
    p {
      display: none;
      color: var(--dark-navy-blue);
      font-weight: 600;
    }
    &:nth-of-type(1) {
      border-radius: .75rem 0 0 0;
    }
    &:nth-of-type(2) {
      border-radius: 0 .75rem 0 0;
    }
    &:nth-of-type(3) {
      border-radius: 0 0 0 .75rem;
    }
    &:nth-of-type(4) {
      border-radius: 0 0 .75rem 0;
    }
    &:hover {
      background-color: var(--white);
      
      p {
        display: initial;
      }
      img {
        filter: none;
      }
    }
  }
}

#projetos {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  article {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    border: 2px solid var(--white);
    border-radius: 1rem;
    
    .wrapper {
      display: inherit;
      flex-direction: column;
      gap: 1rem;
    }
    .wrapper:first-child {
      width: 40%;
    }
    .wrapper:last-child {
      width: 60%;
      .done-in {
        color: var(--grey);
      }
    }
  }
}