@font-face {
  font-family: 'Prosto One';
  src: url(./assets/fonts/Prosto_One/ProstoOne-Regular.ttf);
}

@font-face {
  font-family: 'Zalando Sans';
  src: url(./assets/fonts/Zalando_Sans/ZalandoSans-VariableFont_wdth\,wght.ttf);
}

:root {
  /* Cores: */
  --dark-navy-blue: #161620;

  /* Famílias de fonte: */
  --def-font-family: "Zalando Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --hx-font-family: "Prosto One", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--def-font-family);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-navy-blue);
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

main {
  display: flex;
  flex-direction: column;
  padding: 4rem 20vw;

  section:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

h1, footer > h2 {
  font-family: var(--hx-font-family);
}

.navbar {
  display: inherit;
  width: 30%;
  justify-content: space-between;

  a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.bento-grid {
  display: grid;
  grid-template-rows: repeat(2, 250px);
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  grid-template-areas:
    "photo-sm card-lg-1 card-lg-1 photo-lg"
    "card-lg-2 card-lg-2 card-sm photo-lg";

  > .item {
    padding: 1rem;
    border: 2px solid white;
    border-radius: 1rem;

    img {
      object-fit: cover;
      object-position: 42% 50%;
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  }
}

.bento-grid > .item:nth-child(1) {
  padding: 0;
  grid-area: photo-sm;
}
.bento-grid > .item:nth-child(2) {
  grid-area: card-lg-1;
}
.bento-grid > .item:nth-child(3) {
  padding: 0;
  grid-area: photo-lg;
}
.bento-grid > .item:nth-child(4) {
  grid-area: card-lg-2;
}
.bento-grid > .item:nth-child(5) {
  grid-area: card-sm;
}